:root {
    --main-bg-color: #B3E5FC;
    --main-font-color: #36454F;
    --secondary-bg-color: #FBCDAC;
}



.available {
    background-color: var(--main-bg-color);
}

.unavailable {
    background-color: var(--secondary-bg-color);
}

.rsuite-radio-label {
    font-size: 69px; /* Adjust the font size as needed */
}

.data {
    font-family: "Papyrus";
}

.inputContainer {
    font-family: "Helvetica";
    font-size: 30px;

    
}
.pref {
    font-family: "Helvetica";
    font-size: 25px;
    margin-bottom: 30px; 
    


    
}
