:root {
    --main-bg-color: #cbdedf;
    --main-font-color: #21323f;
    --secondary-bg-color: #FBCDAC;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);

}

.landing-button {
    background-color: #FBCDAC;
    color: var(--main-font-color);
}

.landing-button:hover {
    background-color: #E1B89A;
    color: var(--main-font-color);
}


.available {
    background-color: var(--main-bg-color);

}

.unavailable {
    background-color: var(--secondary-bg-color);
}

.rsuite-radio-label {
    font-size: 69px; /* Adjust the font size as needed */
}

.data {
    font-family: "Papyrus";
}

.inputContainer {
    font-family: "Azeret Mono";
    font-size: 30px;
    

    
}
.pref {
    font-family: "Azeret Mono";
    font-size: 25px;
    margin-bottom: 30px;     
}

h2 {
    margin: 0;
}