
.description {
    font-size: 60px;
    font-family: "Anton", monospace;
    font-weight: 999;
    color: #21323f;
    
}
.main {
    background-image: url('touch-grass-logo.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
  }
  