
.description {
    font-size: 60px;
    font-family: "Anton", monospace;
    font-weight: 999;
    color: #00aaf8;
    
}
.main {
    /* background-color: #ffa25f; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
  }
  