/* :root {
    --main-bg-color: #B3E5FC
    --main-font-color: #36454F
    --secondary-bg-color: #FBCDAC
}

.available {
    background-color: var(--main-bg-color);
}

.unavailable {
    background-color: lightgray;
} */